<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div>
    <icon class="icon-major-arcana"></icon>
    <div>
      <div class="flexbox-container" style="gap: 0">
        <div style="border: 1px solid rgb(154, 226, 72); border-radius: 30px; padding: 0 5px;"> C </div>
        opyright 2026 OC do not steal
      </div>
    </div>
    <a href="https://github.com/hkeward"><img src="/assets/images/github.svg" alt="github logo"
        style="width:30px;height:30px;margin-bottom:5px;" /></a>
  </div>
</body>

</html>