<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div>
    <div class="navbar-link">
      <a href="/"><button>HOME</button></a>
    </div>
    <div class="navbar-link">
      <a href="/projects"><button>PROJECTS</button></a>
    </div>
    <div class="navbar-link">
      <a href="/books"><button>BOOKS</button></a>
    </div>
    <div class="navbar-link">
      <a href="/tarot"><button>TAROT</button></a>
    </div>
    <div class="navbar-link">
      <a href="/the-grid"><button>THE GRID</button></a>
    </div>
  </div>
</body>

</html>