<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div>
    <div>
      <a href="/"><button>HOME</button></a>
    </div>
    <div>
      <a href="/projects"><button>PROJECTS</button></a>
    </div>
    <div>
      <a href="/books"><button>BOOKS</button></a>
    </div>
    <div>
      <a href="/tarot"><button>TAROT</button></a>
    </div>
    <div class="navbar-tarot">
      <a href="/tarot/major-arcana">
        <svg class="icon-major-arcana">
        </svg>
      </a>
      <a href="/tarot/wands">
        <svg class="icon-fire">
        </svg>
      </a>
      <a href="/tarot/cups">
        <svg class="icon-water">
        </svg>
      </a>
      <a href="/tarot/swords">
        <svg class="icon-air">
        </svg>
      </a>
      <a href="/tarot/pentacles">
        <svg class="icon-earth">
        </svg>
      </a>
    </div>
    <div>
      <a href="/the-grid"><button>THE GRID</button></a>
    </div>
  </div>
</body>

</html>