<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div>
    <div>
      <a href="/"><button>HOME</button></a>
    </div>
    <div>
      <a href="/projects"><button>PROJECTS</button></a>
    </div>
    <div>
      <a href="/books"><button>BOOKS</button></a>
    </div>
    <div>
      <a href="/tarot"><button>TAROT</button></a>
    </div>
    <div class="navbar-tarot">
      <a href="/tarot/major-arcana" class="tarot-suit">
        <svg class="icon-major-arcana">
        </svg>
      </a>
      <a href="/tarot/wands" class="tarot-suit">
        <svg class="icon-wands">
        </svg>
      </a>
      <a href="/tarot/cups" class="tarot-suit">
        <svg class="icon-cups">
        </svg>
      </a>
      <a href="/tarot/swords" class="tarot-suit">
        <svg class="icon-swords">
        </svg>
      </a>
      <a href="/tarot/pentacles" class="tarot-suit">
        <svg class="icon-pentacles">
        </svg>
      </a>
    </div>
    <div>
      <a href="/the-grid"><button>THE GRID</button></a>
    </div>
  </div>
</body>

</html>