<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="flexbox-columns tarot-card">
    <h2>{{ card_name }}</h2>
    <div class="flexbox-container flex-start">
      <svg class="{{ elements }}"></svg>
      <div class="tarot-keywords upright">
        {{ keywords }}
      </div>
      <div class="tarot-keywords reversed">
        {{ keywords_reversed }}
      </div>
    </div>
    <div class="flexbox-container flex-start">
      <img src="{{ img }}" alt="{{ card_name }}" class="card-large">
      <div class="tarot-description upright">
        {{ description }}
      </div>
      <div class="tarot-description reversed">
        {{ description_reversed }}
      </div>
    </div>
  </div>
</body>