body {
    background: black;
    color: rgb(154, 226, 72);
}

a {
    color: rgb(112, 47, 218);
}

h1 {
    min-height: 45px;
    text-align: center;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#main-content {
    margin: 0 5px;
    flex: 1 0 0;
}

#navbar {
    width: 150px;
    border: 1px double rgb(57, 20, 116);
}

@media (max-width: 250px) {
    #navbar {
        width: unset;
        flex-basis: 100%;
    }
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
