/* All pages */
html {
    font-size: 1.5em;
}

body {
    background: black;
    color: rgb(154, 226, 72);
    margin: 0 1em;
}

a {
    color: rgb(112, 47, 218);
}

h1,
h2 {
    color: rgb(97, 197, 151);
}

h3 {
    color: rgb(75, 89, 193);
}

h4 {
    color: rgb(104, 116, 204);
}

h1 {
    min-height: 45px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid rgb(57, 20, 116);
}

ul {
    list-style: none;
    padding: 0;
}

button {
    color: rgb(168, 177, 243);
    background: rgb(57, 20, 116);
    border-radius: 15px;
    font-size: inherit;
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 5px 20px;
}

button:hover {
    color: rgb(57, 20, 116);
    background: rgb(168, 177, 243);
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 15px;
}

.flexbox-columns {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.flex-start {
    justify-content: flex-start;
}

#main-content {
    margin: 0 0 0 15px;
    flex: 1 0 0;
}

#main-content> :first-child {
    margin-top: 0;
}

.full-page {
    min-height: 100vh;
}

#footer {
    margin-top: auto;
    align-self: flex-end;
}

.icon {
    width: 36px;
    height: 36px;
    stroke: rgb(104, 116, 204);
    fill: none;
}

/* Books */
.book-card {
    border: 1px double rgb(57, 20, 116);
    border-radius: 15px;
    flex: 1;
    padding: 0 15px;
    min-width: 150px;
}

.book-card h3 {
    margin: 15px 0 10px 0;
}

.book-card h4 {
    margin: 0;
}


/* Navbar */
#navbar {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: flex-start;
}

@media (max-width: 350px) {
    #navbar {
        width: unset;
        flex-basis: 100%;
        flex: 1;
    }
}

#navbar a {
    text-decoration: none;
}

.current-page button {
    color: rgb(57, 20, 116);
    background: rgb(168, 177, 243);
}

.current-page svg {
    stroke: rgb(97, 197, 151);
}

.navbar-tarot {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.navbar-tarot svg {
    width: 24px;
    height: 24px;
}

/* Tarot */
.tarot-suit {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 15px;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.tarot-card h2 {
    margin: 0;
}

.tarot-keywords {
    font-style: italic;
    font-size: 0.9em;
    align-self: center;
}

.tarot-description {
    border: 2px solid rgb(104, 116, 204);
    border-radius: 15px;
    padding: 7px;
    flex-grow: 1;
}

.card-small {
    max-height: 230px;
}

.card-large {
    max-height: 400px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.card-reversed {
    transform: rotate(180deg);
}

.reversed {
    display: none;
}