/* All pages */
html {
    font-size: 1.5em;
}

body {
    background: black;
    color: rgb(154, 226, 72);
    margin: 0 1em;
}

a {
    color: rgb(112, 47, 218);
}

h1,
h2 {
    color: rgb(97, 197, 151);
}

h3 {
    color: rgb(75, 89, 193);
}

h4 {
    color: rgb(104, 116, 204);
}

h1 {
    min-height: 45px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid rgb(57, 20, 116);
}

table {
    border: 2px solid rgb(75, 89, 193);
    border-radius: 5px;
    width: 100%;
    text-align: left;
    font-family: monospace, monospace;
}

th {
    text-decoration: underline;
}

td,
th {
    padding: 0 15px;
}

button {
    color: rgb(168, 177, 243);
    background: rgb(57, 20, 116);
    border-radius: 15px;
    font-size: inherit;
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 5px 20px;
}

button:hover {
    color: rgb(57, 20, 116);
    background: rgb(168, 177, 243);
}

.page-title {
    display: flex;
    flex-flow: row-wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 15px;
}

.flexbox-columns {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.flex-start {
    justify-content: flex-start;
}

.flex-grow {
    flex: 1;
}

#main-content {
    margin: 0 0 0 15px;
    flex: 1 0 0;
}

#main-content> :first-child {
    margin-top: 0;
}

.full-page {
    min-height: 100vh;
}

#footer {
    margin-top: auto;
    align-self: flex-end;
}

.icon {
    width: 36px;
    height: 36px;
    stroke: rgb(104, 116, 204);
    fill: none;
}

/* Image next to text */
.img-and-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
}

.img-and-text>div,
.img_and_text>img {
    flex: 1;
}

.img-and-text>img {
    height: auto;
    max-width: 60%;
    object-fit: contain;
}

@media (max-width: 650px) {
    .img-and-text>img {
        max-width: 100%;
    }
}

/* Two images side by side */
.img-pair {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
}

.img-pair>img {
    flex: 1;
    height: auto;
    max-width: 48%;
    object-fit: contain;
}

@media (max-width: 650px) {
    .img-pair>img {
        max-width: 100%;
    }
}

/* Books */
.book-link {
    all: unset;
    cursor: pointer;
}

.book-card {
    border: 1px double rgb(57, 20, 116);
    border-radius: 15px;
    flex: 1;
    padding: 15px;
    min-width: fit-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
}

.book-card h3 {
    margin: 0;
}

.book-card h4 {
    margin: 0;
}

.rating {
    display: flex;
    align-items: flex-end;
}

.quote {
    margin-left: 15px;
    border-left: 2px solid rgb(75, 89, 193);
    padding-left: 25px;
    font-style: italic;
}


/* Navbar */
#navbar {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: flex-start;
}

@media (max-width: 350px) {
    #navbar {
        width: unset;
        flex-basis: 100%;
        flex: 1;
    }
}

#navbar a {
    text-decoration: none;
}

.current-page button {
    color: rgb(57, 20, 116);
    background: rgb(168, 177, 243);
}

.current-page svg {
    stroke: rgb(97, 197, 151);
}

.navbar-tarot {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.navbar-tarot a,
.navbar-tarot svg {
    width: 24px;
    height: 24px;
}

/* Tarot main page */
.tarot-suit {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 20px;
    border-radius: 25px;
    border: 3px double rgb(75, 89, 193);
    flex: 1;
}

/* Tarot suit pages */
.tarot-card h2 {
    margin: 0;
    font-family: monospace;
    color: black;
    background: rgb(75, 89, 193);
    border-radius: 25px;
    padding: 0 0 0 15px;
}

.tarot-keywords {
    font-style: italic;
    font-size: 0.9em;
    align-self: center;
}

.tarot-description {
    border: 3px double rgb(75, 89, 193);
    border-radius: 15px;
    padding: 10px;
    flex: 1;
}

.card-small {
    max-height: 230px;
}

.card-large {
    max-height: 400px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.card-reversed {
    transform: rotate(180deg);
}

.reversed {
    display: none;
}