body {
  background-image: url("/assets/images/grid.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-image 5s;
  transition: background-image 5s;
}

body::before {
  opacity: 0;
  background-image: url("/assets/images/grid.sun.png");
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.hidden {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
}

#page-header {
  transition: all 1s ease;
}

.slide-in-text {
  animation: slideIn 10s ease-out forwards;
  position: absolute;
  opacity: 0;
  font-style: italic;
  font-size: 3em;
  top: 350px;
}

@keyframes slideIn {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 820px;
    opacity: 1;
    color: black;
    font-weight: bold;
  }
}

.half-circle {
    width: 200px;
    height: 100px;
    background-color: rgb(241, 26, 79);
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid rgb(241, 26, 79);
    border-bottom: 0;
}
